/* HEADER */

body{ 
    overflow-x :hidden; 
    } 

.title {
    display:flex;
    justify-content:center;
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.title-img {
    height: 80px;
    width:70px;
    margin-right:10px;
}

#sub-h-1 {
    display: flex;
    justify-content: center;
}
/* SEARCH BAR */

#team-input {
    padding-left: 20px;
    padding-bottom: 20px;
    align-items: center;
    align-content: center;
}

.fave-team {
    margin-left: 8px;
    margin-bottom: auto;
}

/* FAVE TEAM BTN  */

.submit-btn {
  background-color: #3D195B; 
  border: none;
  border-radius: 15px;
  color: white;
  /* padding: 9px 30px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 415px;
  height: 30px;
}

/* MODAL */

.container-fluid {
    display: contents;
}

.btn-Instagram {
    background-image:url(../images/icons8-instagram-40.png);
    background-position: center;
    background-repeat: none;
}

#image {
-webkit-filter: brightness(100%);

}

.btn-primary {
    margin:auto
}

.site-footer {
    background-color: #5009e9;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;
  }
  
  #social-wrapper {
      text-align: center;
  }

  .modal-body {
    display:inline-block;
    text-align: center;
    
  }

  .modal-title{
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
  }

  .modal-header {
    display:flex;
  }
  
  /* SOCIAL MEDIA ICONS */
  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .gmail-icon,
  .youtube-icon,
  .foursquare-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .gmail-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
      opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
  }

.smallIcon{
    height: 30px;
    width: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    width: 100%;
  }

.td:nth-child(1) {
    display: flex;
    justify-content: center;
    align-content: center;
}

.relegation{
    background-color: #f8d7da;
}

.promotion{
    background-color: #d4edda;
}

.win{
    background-color: green;
    color: white;
    padding: 2px;
}

.badge {
    height: 10px;
    width: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: rgb(0, 0, 0);
  }
  

  /* TEAM INFO BTN */

  .info {
  background-color: #3D195B; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }


.gifs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    float: right;
}

.favTeam{
    /* background-color: #3D195B;  */
    border: solid;
    border-radius: 8px;
    color: white;
    /* padding: 9px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

.card-title{
    border: solid;
    border-radius: 6px
}